a {
    color: #000000; /* Azul elegante */
    text-decoration: none; /* Quita el subrayado */
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  a:hover {
    color: #aa9494; /* Azul más oscuro al pasar el mouse */
    text-decoration: underline; /* Subrayado al hacer hover */
  } 
  a:active {
    color: #3e1e5c; /* Rosa cuando haces clic */
  }
  li{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 60px;
   border: 1px solid #ccc;
border-radius: 8px;
overflow: hidden;
font-family: Arial, sans-serif;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  }
  h1, h3,h4{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: wheat;
  }
  body{
    background-color: #aa9494;
  }
  